{% extends "base.html" %}
    {% block content %} 
        <div class="text-center">
            <p> All the data used for the visualization  was provided by <a href="https://dataliteracy.github.io/solveathon/">Nepal Solveathon 2019</a>. 
                The exact data can be found under project heading  <mark> Improving Women's Access to Finance </mark> at number 3</p>
            <p>This webpage is created for individual learning. If you have any feedback or in general, 
                    contact me at :
            </p>
            <a href="mailto:jyoti.bartaula@gmail.com" class="fa fa-google"></a>
            <a href="https://twitter.com/jyotipba" class="fa fa-twitter"></a>
            <a href="https://linkedin.com/in/jyoti-prasad-bartaula-b56377a0/" class="fa fa-linkedin"></a>
            <footer>
                <div class="footer-copyright text-center py-3">© 2019 Copyright:
                    <p>Jyoti Prasad Bartaula</p>
                </div>
            </footer>
        </div>
    {% endblock %}